*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}


body{
    background-color: #E5E5E5;
    display: flex;
    box-sizing: border-box;

}

main{
    width: 80%;
    padding: 0 3%;
}

.main-section{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* section-1 */
.d-principalsection{
    width: 50%;
    margin: auto;
}
.d-principalsection p, h1{
    margin-bottom: 20px;
    text-align: justify;
}
.d-principalsection h1 span{
    font-weight: bold;
}
.d-principalsection button{
    width: 200px;
    padding: 5px 0;
    background-color: black;
    color: white;
}

.main-section-1{
    display: flex;
    background-color: white;
    margin-bottom: 10%;
    
}

.imagen-principal-section{
    width: 300px;
    height: 300px;
    margin: 30px auto;
}

header{
    background-color: white;
    width: 50px;
}

/* te */

.Titulo-section{
    text-align: center;
    margin-bottom: 5%;
}

.Descripcion-section{
    margin-bottom: 15%;
}
.Primera-parte-section{
    width: 40%;
    
}

.contenedores-section{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;  


}

.contenedor-section {
    background-color: white;
    width: 30%;
    padding: 50px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.img-section-2{
    width: 20%;

}
.Link-contenedor-2{
    font-weight: bold;
    text-decoration: none;
}



.contenedor-section ul{
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-section li{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;

}

.chulo::before{
    content: "";
    display: inline-block;
    width: 16px;     /* 👈 necesario */
    height: 16px; 
    background-image: url("../img/iconos/chulo.png");
    background-size: cover;
    margin-right: 8px;
    
}
.chulo{
    font-weight: bold;
}
.cruz::before{
    content: "";
    display: inline-block;
    width: 16px;     /* 👈 necesario */
    height: 16px; 
    background-image: url("../img/iconos/cruz.png");
    background-size: cover;
    margin-right: 8px;
}

.contenedor-section-3{
    padding-top: 0;
    padding-bottom: 0;
}
.F-amarillo{
    display: flex;
    height: 30PX;
    width: calc(100% + 60px); /* 30px + 30px del padding */
    margin-left: -30px;
    margin-right: -30px;
    background-color: blaCK;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.button-s-3{
    color: black;
    background-color: white;
    text-align: center;
    border: 0px solid black;
    margin-top: 5%;
    width: 70%;
    padding: 3% 0;
}

.F-a{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.estrella{
    width: 15px;
    height: 15px;
}

.contenedor-section-4{
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: start;
}

.subtitulo-section-4{
    text-align: justify;
}

.img-user-section-4{
    width: 30%;
    height: 70%;
    border-radius: 50%;
}
.info-user-section-4{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}
.nombre-cargo-section-4{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;

}

.contenedores-section-5{
    width: 100%;
    background-color: white;
    padding: 50px 30px;
}

.contenedor-section-5{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin-bottom: 40px;
}

.contenedor-section-5-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contenedor-section-5-1 div{
    display: flex;
    gap: 10px;
}
.contenedor-section-5-1 h3{
    text-align: start;

}
.contenedor-section-5-2{
    width: 60%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contenedor-section-5-2 p{
    width: 80%;
    
}
.Fecha{
    background-color: black;
    color: white;
}

.main-section-7 ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-section-7 ul li{
    list-style: none;
}
.li-color{
    font-weight: 900;

}

.contenedores-section-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 100%;
    gap: 10px
    
}


.contenedores-section-7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedores-section-7 a{
    cursor: default;
}

.mascota{
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    
    
}



a p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;  
}

a p:hover{
    cursor: pointer;
    opacity: 0.5;
}

.contenedores-section-8{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.contenedores-section-8 div{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.contenedores-section-8 div img{
    width: 100%;
    height: 300px;
    
}
.contenedores-section-8 div p, .contenedores-section-8 div h3, .contenedores-section-8 div a{
    margin: 20px 30px;
}

.main-section-9{
    display: grid;
    grid-template-columns: calc(60% - 10px) calc(40% - 10px);
    width: 100%;
    gap: 20px;
    
}


.contenedor-section-9{
    background-color: white;
    border-radius: 1px;
    padding: 20px;
    display:grid;
    margin: 20px 0;
    overflow: hidden;
}

.letra-section-9{
    display:grid;
    grid-template-columns: 40% 60%;

}
.section-9-right{
    text-align: right;
}

.imagen-section-9{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
}

form{
    margin-top: 20px;
    background-color: white;
    height: 90%;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.div-formulario form label{
    margin-top: 20px;
}

.div-formulario form input{
    height: 40px;
    background-color: #E5E5E5;
    border: 0 solid black;
}

.div-formulario form textarea{
    background-color: #E5E5E5;
    height: 140px;
}

.button-form{
    background-color: black;
    color:white;
    margin-top: auto;
    width: 30%;
    height: 30px;
}

.footer{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-section-10{
    width: 100%;
    margin: 10% 0;
}

.contenedores-section-10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.contenedores-section-10 img{
    width: 100px;
    height: 100px;
}